body {
    background-color: #121212;
}

header {
    margin-bottom: 35px;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

div .formulario {
    border: 1px solid #262626;
    border-radius: 15px;
}

form {
    height: 240px;
}

label {
    color: white;
}

input, #año {
    background-color: #1b1b1b;
    color: white;
    border: 1px solid #0d2c4d;
}

.anio {
    margin-bottom: 25px;
}

input:focus, #año:focus {
    border: none;
}

div select, #mes {
    color: white;
    background-color: #1b1b1b;
    border: 1px solid #0d2c4d;
}

.titulo {
    margin-bottom: 30px;
}


h3 {
    color: #9c9c9c;
}

.btn {
    width: 100%; 
    margin-top: 10px;
    background-color: #0d2c4d;
    transition: transform 0.3s ease;
    border: none;
    border-radius: 15px;
    padding-left: 20px; 
    padding-right: 20px; 
}

.btn:hover {
    background-color: #113c69;
    border: none;
}


.img-fluid {
    height: 350px;
    border: 1px solid #262626;
    border-radius: 15px;
    max-width: 100%;
}

footer {
    font-size: 14px;
    color: #9c9c9c;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
